body{
    background-color: #222;
    color: white;
    font-family: sans-serif;
}
a{
    color: white;
    text-decoration: none;
}

nav a.active{
    text-decoration: underline;
}

.c-item{
    height: 45vh;
}

.c-img{
    height: 100%;
}

button.c-price{
    margin-left: 250px;
}
button.c-sort{
    color:black;
    background-color: transparent;
    font-weight: 800;
    border: none;
    
}
h1{
    color: red;
}

