body{
    /* background-color: #222; */
    color: black;
    font-family: sans-serif;
}
a{
    /* color: white; */
    text-decoration: none;
}

nav a.active{
    text-decoration: underline;
}

.c-item{
    height: 45vh;
}

.c-img{
    height: 100%;
}

button.c-price{
    margin-left: 250px;
}
button.c-sort{
    color:black;
    background-color: transparent;
    border: none;
}


.c-card{
    border-color: transparent;
}

@media only screen and (min-width: 960px) {
    .c-container {
        display: flex;
        gap: 1rem;
    }
    .c-buttons:last-child{
       flex-direction: column;
    }
}
