body{
    /* background-color: #222; */
    color: black;
    font-family: sans-serif;
    position: relative;
    padding-top: 56px;;
}
a{
    /* color: white; */
    text-decoration: none;
}
.c-navbar{
    margin-right: auto;
}

nav a.active{
    text-decoration: underline;
}

.c-item{
    height: 45vh;
}

.c-img{
    height: 100%;
}

button.c-price{
    margin-left: 250px;
}
button.c-sort{
    color:black;
    background-color: transparent;
    border: none;
}


.c-card{
    border-color: transparent;
}

.c-footer{
    position: absolute;
    bottom:10px;
}

.c-full_article{
    /* background-color: gray; */
    max-width: 1280px;
    padding: 10px;
    margin: 50px auto 25px;
    font-size: 15px;
    line-height: 1.4;
    
}

.subtitle-wrap{
    font-size: 16px;
    line-height: 22px;
    color: #121420;
    display: flex;
    flex-wrap: wrap;
}

.subtitle-location{
    padding-right: 40px;
}



#gallery {
    width: 400px;
    /* border: 1px solid black; */
    margin: 50px auto;
    text-align: center;
}

#gallery button {
    font-size: 30px;
    display: inline-block;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: black;
}
#gallery a:first-child{
    transform: translateX(-220px) translateY(160px);
}
#gallery a.next{
    transform: translateX(220px) translateY(-160px);
}

#mainImage{
    width: 100%;
}


#gallery .thumb {
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
    cursor: pointer;
}

#gallery .thumb.active {
    border-color: black;
}


.success-message{
    display: block;
    color: green;
}

.hidden-message{
    display: none;
}





@media only screen and (min-width: 960px) {
    .c-container {
        display: flex;
        gap: 1rem;
    }
    .c-buttons:last-child{
       flex-direction: column;
    }
    
}

@media only screen and (min-width: 768px){
    #gallery{
        width:600px;
    }


    #gallery .thumb {
        width: 80px;
        height: 80px;

    }
    #gallery a:first-child {
        transform: translateX(-330px) translateY(200px);
    }

    #gallery a.next{
        transform: translateX(330px) translateY(-220px);
    }
}
